{% extends "index.html" %}

{% block content %}
<div class="horizontal-scroll">
  <div class="containerAnime">
  {% for item in data.data %}
  <a href="/api/otkd/web/anime/{{ item.animeSlug }}/" class="animeItem">
    <div class="anime-image-wrapper">
      <img src="{{ item.animeThum }}" alt="{{ item.animeName }}" class="anime-image">
    </div>
    <div class="anime-info">
      <h6 class="anime-title">{{ item.animeName }}</h5>
      <div class="anime-eps">{{ item.animeEpisode }}</div>
    </div>
  </a>
  {% endfor %}
</div>
</div>
{% endblock %}

