<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styelsj.css') }}"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="#">LOGO</a>
      </div>
      <div class="burger">
        <span></span>
      </div>
      <div class="navbar-content">
        <ul class="navbar-list">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Ongoing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Genre</a>
          </li>
        </ul>
        <div class="navbar-right">
          <form action="#">
            <input type="text" class="search-input" placeholder="Search ..." />
            <button class="btn btn-search">Search</button>
          </form>
        </div>
      </div>
      <div id="showcase"></div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
